<form id="change-password-form" [formRoot]="passwordForm" class="px-4 py-3">

  @let validationErrors = serverValidationErrors();

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Current password</mat-label>

    <input
      matInput
      id="current"
      [type]="showCurrentPassword() ? 'text' : 'password'"
      [formField]="passwordForm.currentPassword">

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="toggleCurrentPassword()"
      [attr.aria-label]="showCurrentPassword() ? 'Hide current password' : 'Show current password'">

      <i
        class="bi"
        [class.bi-eye]="!showCurrentPassword()"
        [class.bi-eye-slash]="showCurrentPassword()">
      </i>

    </button>

    @let currentPass = passwordForm.currentPassword();

    @if (currentPass.touched() && !currentPass.valid()) {
      @if (currentPass.getError('required')) {
        <mat-error>Current password is empty.</mat-error>
      }
    }

    @if (validationErrors['CurrentPassword']) {
      @for (message of validationErrors['CurrentPassword']; track message) {
        <mat-error>
          {{ message }}
        </mat-error>
      }
    }

  </mat-form-field>


  <mat-form-field appearance="outline" class="w-100">
    <mat-label>New password</mat-label>

    <input
      matInput
      id="new"
      [type]="showNewPassword() ? 'text' : 'password'"
      [formField]="passwordForm.newPassword">

     <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="toggleNewPassword()"
        [attr.aria-label]="showNewPassword() ? 'Hide current password' : 'Show current password'">

        <i
          class="bi"
          [class.bi-eye]="!showNewPassword()"
          [class.bi-eye-slash]="showNewPassword()">
        </i>

      </button>

    @let newPass = passwordForm.newPassword();

    @if (newPass.touched() && !newPass.valid()) {
      @if (newPass.getError('required')) {
        <mat-error>New password is empty.</mat-error>
      }
    }

    @if (validationErrors['NewPassword']) {
      @for (message of validationErrors['NewPassword']; track message) {
        <mat-error>
          {{ message }}
        </mat-error>
      }
    }

  </mat-form-field>

</form>

<mat-dialog-actions align="end">

  <button matButton mat-dialog-close>
    Cancel
  </button>

  <button
    matButton
    color="primary"
    type="submit"
    form="change-password-form">
    Update
  </button>

</mat-dialog-actions>
