<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Log in</h1>
    @if (loginFailed()) {
      <div class="alert alert-danger" role="alert">Nope, Try again.</div>
    }

    <form [formRoot]="credentials">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" class="form-control" [formField]="credentials.email" />
        <!-- error message here -->
        @let email = credentials.email();
        @if (email.touched() && !email.valid()) {
          @if (email.getError('required')) {
            <div class="invalid-feedback">email is required</div>
          }
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" [formField]="credentials.password" />
        <!-- error message here -->
        @let password = credentials.password();
        @if (password.touched() && !password.valid()) {
          @if (password.getError('required')) {
            <div class="invalid-feedback">Password is required</div>
          }
        }
      </div>

      <!-- <button class="btn btn-primary" type="submit" [disabled]="!credentials().valid()">Log me in!</button> -->
      <button class="btn btn-primary" type="submit">Log me in!</button>
    </form>
  </div>
</div>
