.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

.sidenav-header {
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav a {
  justify-content: flex-start;
  gap: 10px;
}

.content {
  padding: 24px;
}
